<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/styles') %>
</head>
<body>
    <%-include ('partials/header')%> 
    <div class="contenedor-texto">
        <div class="text-content">
            <h1 class="TituloAbout">Sobre Nosotros</h1>
            <br><br>

            <h2>Misión</h2>
            <p>Nuestra misión es ofrecer el mejor contenido cinematográfico de alta calidad a nuestros usuarios, proporcionando una experiencia de visualización envolvente y accesible.</p>
            
            <h2>Visión</h2>
            <p>Convertirnos en la plataforma de referencia para los amantes del cine, donde puedan disfrutar de un catálogo extenso y variado, disponible desde cualquier lugar y en cualquier momento.</p>
            
            <h2>Historia</h2>
            <p>AK PelisHD nació con el objetivo de reunir a una comunidad apasionada por el séptimo arte. Desde nuestros inicios, hemos trabajado para ampliar nuestro catálogo, mejorando continuamente la calidad de nuestros servicios y adaptándonos a las nuevas tendencias y necesidades de nuestros usuarios.</p>
        </div>
    </div>
</body>
</html>