
<header class="header" id="header">
    
    <div class="container-socialMediaBar" id="socialMediaBar">
        <!-- Twitter -->
        <a
            data-mdb-ripple-init
            class="btn btn-primary"
            style="background-color: #000000"
            href="#!"
            role="button"
            id="twitter"
        >
            <i class="bi bi-twitter-x">X</i>
        </a>
        <!-- Telegram -->
        <a
            data-mdb-ripple-init
            class="btn btn-primary"
            style="background-color: #00c8ff"
            href="#!"
            role="button"
            id="telegram"
        >
            <i class="bi bi-telegram" style=" color: #000000"> Telegram </i>
        </a>
        <!-- Facebook -->
        <a
            data-mdb-ripple-init
            class="btn btn-primary"
            style="background-color: #3b5998"
            href="#!"
            role="button"
            id="facebook"
        >
            <i class="fab fa-facebook-f">Facebook</i>
        </a>
        <!-- Whatsapp -->
        <a
            data-mdb-ripple-init
            class="btn btn-primary"
            style="background-color: #01ff63"
            href="#!"
            role="button"
            id="whatsapp"
        >
            <i class="bi bi-whatsapp" style=" color: #000000">Whatsapp</i>
        </a>
    </div>

    <nav>
        <a class="NavHome" href="/"><button type="button" class="ButtonNavHome">Home</button></a>
        <a  class="NavAbout" href="/about"><button type="button" class="ButtonNavAbout">About</button></a>
        <a class="NavContact" href="/contact"><button type="button"  class="ButtonNavContact">Contact</button></a>


            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="inputBuscarPeli">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="ButtontBuscarPeli">Search</button>
            </form>

    </nav>

    <img src="https://i.postimg.cc/FRnxdJ15/LogoFav.jpg" class="logo" width="80px"/>
    <img src="https://i.postimg.cc/DZqXFJsP/letrassinfondo.png" class="letras" />
    
</header>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"
></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"
></script>